# Entornos virtuales
venv/
.env/

# Archivos de compilación
*.pyc
*.pyo
__pycache__/

# Archivos de configuración de editor (ej. VSCode, PyCharm)
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos temporales
*.swp

# Configuración de distribuciones
*.egg-info/
dist/
build/

# Dependencias instaladas
*.tar.gz